<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-dona title="Sales" [labels]="labels1" [data]="data1"> </app-dona>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-dona title="refunds" [labels]="labels2" [data]="data2"> </app-dona>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-dona title="results" [labels]="labels1" [data]="data1"> </app-dona>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-dona
          title="results 2"
          [labels]="labels1"
          [data]="data1"
        ></app-dona>
      </div>
    </div>
  </div>
</div>
